@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional custom styles */
body {
  font-family: 'Inter', sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}